@import 'variables';

@font-face {
  font-family: 'Brown';
  src: url('/fonts/Brown-Regular.woff');
  src: url('/fonts/Brown-Regular.woff2');
}
* {
  box-sizing: border-box;
  font-family: 'Brown', 'Helvetica';
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.oceana-welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  width: 100%;

  svg {
    width: 85%;

    margin-bottom: 12rem;
  }
  @media screen and (max-width: 500px) {
    svg {
      width: 75%;
    }
  }
  h2 {
    color: $mainblue;
    margin-bottom: -1.4rem;
  }
}

button {
  cursor: pointer;
}

header {
  height: 8vh;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50% 1fr 1fr 1fr;
  transition: 100ms ease-in-out;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: white;
  border-bottom: 2px solid $mainblue;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-box1 {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
  }
  .btn-calendar {
    background-image: url(/images/calendar.svg);
  }
  .btn-cart {
    background-image: url(/images/shopping_cart.svg);
  }
  .btn-search {
    background-image: url(/images/search.svg);
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
    border: none;
    padding: 0;
    transition: 150ms ease-in-out;
  }
}

.grid-container-section1 {
  display: grid;
  justify-content: center;
  grid-template-rows: 92vh;
  height: 92vh;
  width: 100%;
  overflow: hidden;
  background-image: url('/images/wave2_s2.svg');
  background-repeat: no-repeat;
  background-size: cover;

  .grid-section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
  }
  .item1 {
    justify-content: space-between;
    height: 4rem;
    width: 100vw;
  }
  .liseberg-logo-svg {
    margin-left: 25%;
  }
  .page-2-confirm-form {
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
  }
  .form-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 0vh;
    width: 100vw;
    background-color: $bgthinblue;
    border: 2rem solid $lightblue;
    opacity: 1;
    z-index: 5;
    transition: 200ms;
    h2 {
      font-size: 36px;
      color: $mainblue;
      width: 75%;
      text-align: center;
      margin: 1rem;
      margin-top: -5rem;
      line-height: 45px;
      transition: 100ms;

      @media screen and (max-width: 281px) {
        font-size: 24px;
        line-height: 24px;
      }
      @media screen and (max-width: 322px) {
        margin-top: -2rem;
        font-size: 18px;
        width: 75%;
        margin-bottom: 0rem;
        line-height: 24px;
      }
      @media screen and (min-width: 359px) {
        width: 75%;
        font-size: 18px;
        margin-bottom: 1rem;
        line-height: 26px;
      }
      @media screen and (min-width: 375px) {
        font-size: 24px;
        width: 80%;
        margin-top: -4rem;
        margin-bottom: 1rem;
        line-height: 26px;
      }

      @media screen and (min-width: 750px) {
        font-size: 48px;
        line-height: 52px;

        width: 33%;
        margin-top: -4rem;
        margin-bottom: 1rem;
      }
    }
    p {
      margin: 0rem;
      color: $mainblue;
      font-size: 16px;
      width: 85%;
      transition: 200ms;
      line-height: 19.23px;
      @media screen and (max-width: 281px) {
        font-size: 14px;
        line-height: 14px;
      }
      @media screen and (max-width: 322px) {
        font-size: 14px;
        width: 75%;
        margin-bottom: 0rem;
        line-height: 16px;
      }
      @media screen and (min-width: 750px) {
        font-size: 24px;
        line-height: 28px;
        width: 45%;
        margin-bottom: 1rem;
      }
    }
    .exit-btn {
      position: absolute;
      top: 3rem;
      right: 4rem;
      transition: 100ms;
    }

    .confirm-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 10;
      opacity: 1;
      margin-top: 1rem;
      padding-left: 1rem;
      label {
        width: 18rem;
        color: $mainblue;
        margin-bottom: 0.2rem;
        transition: 400ms;
        @media screen and (max-width: 281px) {
          font-size: 14px;
          margin-left: 40%;
          line-height: 14px;
        }
        @media screen and (max-width: 322px) {
          font-size: 14px;
          margin-bottom: 0rem;
          margin-left: 1.5rem;
          line-height: 24px;
        }
      }
      .confirm-form-text-input {
        height: 2rem;
        width: 75%;
        border-radius: 2px;
        border: none;

        box-shadow: 1px 2px 12px -3px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 2px 12px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 2px 12px -3px rgba(0, 0, 0, 0.75);
        @media screen and (max-width: 322px) {
          height: 1.6rem;
          margin-left: 1.5rem;
        }
        @media screen and (max-width: 281px) {
          width: 50%;
          margin-left: 10%;
          line-height: 14px;
        }
        @media screen and (min-width: 750px) {
          font-size: 24px;
        }
      }
      .label-contact-info {
        margin-top: 0.5rem;
        align-self: center;
        width: 80%;
        @media screen and (max-width: 322px) {
          padding: 0;
          width: 70%;
          line-height: 16px;
        }
        @media screen and (max-width: 281px) {
          width: 50%;
          line-height: 14px;
          padding-top: 1rem;
        }
      }
      .checkbox-contact-info {
        bottom: 22%;
        position: absolute;
        box-shadow: none;
        @media screen and (max-width: 281px) {
          left: 20%;
        }
        @media screen and (max-width: 322px) {
          left: 18%;
        }

        @media screen and (min-width: 360px) {
          bottom: 24%;
        }
        @media screen and (min-width: 360px) {
          bottom: 26%;
        }

        @media screen and (min-width: 411px) {
          bottom: 30%;
        }
        @media screen and (min-width: 478px) {
          bottom: 26%;
        }
        @media screen and (min-width: 540px) {
          bottom: 30%;
        }
        @media screen and (min-width: 750px) {
          bottom: 30%;
        }
        @media screen and (min-width: 800px) {
          bottom: 35%;
        }
        @media screen and (min-width: 1100px) {
          bottom: 30%;
        }
      }
      .confirm-form-submit {
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        width: 10rem;
        height: 3rem;
        background-color: $mainblue;
        color: white;
        font-size: 16px;
        margin-top: 1rem;
        margin-bottom: -4rem;
        border: none;
        z-index: 12;
        transition-delay: 30s;
        @media screen and (max-width: 322px) {
          width: 50%;
          height: 1.8rem;
        }
      }
    }
  }
}
.item2 {
  position: relative;
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}
.page-2-content-container {
  display: flex;
  align-items: center;
  position: absolute;
  height: 80%;
  width: calc(100vw - 4rem);
  background-color: $bgthinblue;
  border: none;
  flex-direction: column;
  margin: 0;

  @media (min-width: 600px) {
    width: calc(100vw - 6rem);
    height: calc(100vh - 10rem);
  }

  svg {
    margin-top: 2rem;
    width: 80%;
    @media screen and (min-width: 414px) {
      transform: scale(1.1);
    }
    @media screen and (min-width: 600px) {
      transform: scale(1.3);
      margin-bottom: 4rem;
      margin-top: 5rem;
    }
    @media screen and (min-width: 800px) {
      transform: scale(1.7);
      width: 100%;
      margin-bottom: 2rem;
      margin-top: 5rem;
    }
    @media screen and (min-width: 750px) {
      margin-top: 2rem;
    }
    @media screen and (min-width: 1000px) {
      margin-top: 6rem;
    }
  }

  h2 {
    color: $mainblue;
    width: 20rem;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 50.2px;
    @media screen and (min-width: 600px) {
      font-size: 48px;
      width: 35rem;
      line-height: 68.2px;
      margin-top: -2rem;
    }
    @media screen and (max-width: 290px) {
      padding-left: 1rem;
      width: 14rem;
      font-size: 18px;
      line-height: 35.21px;
    }
    @media screen and (min-width: 770px) {
      font-size: 68px;
      width: 50%;
      margin-bottom: 3rem;
      line-height: 88.2px;
      margin-top: 2rem;
    }

    @media screen and (max-width: 321px) {
      font-size: 28px;
      line-height: 35.2px;
    }
    @media screen and (min-width: 1000px) {
      width: 30%;
    }
  }
  h4 {
    margin: -0.5rem 0rem 0rem 0rem;
    width: 80%;
    font-weight: bold;

    font-size: 18px;
    color: $pink;
    @media screen and (max-width: 290px) {
      padding-left: 1rem;
      width: 14rem;
      font-size: 12px;
    }
    @media screen and (max-width: 376px) {
      padding-left: 1rem;
      width: 17rem;
    }
    @media (min-width: 599px) and (max-width: 650px) {
      font-size: 22px;
      padding-left: 1rem;
      margin-bottom: 0;
    }
    @media screen and (min-width: 750px) {
      margin-top: 2.5rem;
      width: 60%;
      font-size: 32px;
      line-height: 1.5em;
    }
    @media screen and (min-width: 800px) {
      font-size: 24px;
      line-height: 46.83px;
      padding: 0;
      margin-top: 0rem;
    }
    @media screen and (min-width: 1000px) {
      font-size: 32px;
      line-height: 46.83px;
      width: 45%;
      padding: 0;
      margin-top: 0rem;
    }
  }
  p {
    line-height: 133.8%;
    margin-top: -0rem;
    width: 80%;
    font-size: 18px;
    color: $mainblue;

    @media screen and (min-width: 750px) {
      width: 65%;
      font-size: 28px;
      line-height: 1.3em;
      padding: 0;
    }
    @media (min-width: 599px) and (max-width: 650px) {
      font-size: 22px;
      padding-left: 1rem;
      margin-bottom: 0;
    }
    @media screen and (max-width: 376px) {
      padding-left: 1rem;
      width: 17rem;
    }
    @media screen and (max-width: 290px) {
      padding-left: 0;
      width: 85%;
      font-size: 14px;
    }
    @media screen and (max-width: 321px) {
      font-size: 16px;
    }
    @media screen and (min-width: 1000px) {
      font-size: 32px;
      line-height: 46.83px;
      width: 45%;
    }
  }

  // extend
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: 10rem;
    height: 3rem;
    background-color: $mainblue;
    color: white;
    font-size: 16px;
    margin-top: 1rem;
    border: none;

    @media screen and (max-width: 376px) {
      margin-bottom: 1rem;
      margin-top: 0rem;
    }
    @media screen and (max-width: 290px) {
      margin-top: 4rem;
      height: 2rem;
      width: 10rem;
    }
    @media screen and (min-width: 750px) {
      margin-top: 5rem;
    }
  }
  .item4 {
    height: auto;
  }
}
.grid-container-section2 {
  justify-self: center;
  width: 100%;
  color: $mainblue;
  @extend .grid-container-section1;

  background-image: none;
  grid-template-rows: 15vh 77vh;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .grid-section2 {
    @extend .grid-section1;
  }
  .s2-item1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    padding: 0;
    p {
      margin: 0rem;
      text-align: center;
      width: 85%;
      padding-bottom: 0.3rem;
    }
    button {
      height: 35px;
      width: 35px;
      border: none;
      margin-bottom: 0.5rem;
      background-repeat: no-repeat;
      transition: 120ms ease-in-out;
      @media screen and (max-width: 320px) {
        transform: scale(0.8);
      }
    }
    .hover-line {
      height: 0.2rem;
      width: 0;
      background-color: $mainblue;
      transition: 150ms ease-in-out;
    }
    .btn-amusements {
      background-image: url(/images/attraktioner.svg);
    }

    .btn-tickets {
      background-image: url(/images/biljetter.svg);
    }
    .btn-opening-hours {
      background-image: url(/images/opening_hours.svg);
    }
  }
  .s2-item2 {
    @extend .s2-item1;
    grid-row: 1;
    grid-column: 2;
  }
  .s2-item3 {
    @extend .s2-item1;
    grid-row: 1;
    grid-column: 3;
  }
  .s2-item4 {
    justify-content: space-between;
    flex-direction: column;
    grid-row: 2;
    grid-column: 1/4;
    width: 100%;
    padding: 0;
  }
  h2 {
    font-size: 36px;
    margin-top: -1.2rem;
    margin-bottom: 1.2rem;
    text-align: center;
    @media screen and (min-width: 359px) {
      font-size: 28px;
      margin-top: 0.4rem;
    }
    @media screen and (max-width: 320px) {
      font-size: 24px;
      margin-top: 1.5rem;
    }
    @media screen and (min-width: 750px) {
      width: 50%;
      font-size: 46px;
      line-height: 52px;
    }
    @media screen and (min-width: 750px) {
      margin-top: -6rem;
    }
  }

  p {
    line-height: 21.06px;
    width: 80%;
    @media screen and (max-width: 376px) {
      margin-top: 0;
      padding-left: 1rem;
      width: 85%;
    }
    @media screen and (min-width: 359px) {
      line-height: 20.06px;
    }
    @media screen and (max-width: 320px) {
      margin-top: -0.5rem;
      font-size: 14px;
      line-height: 18px;
      width: 90%;
    }
    @media screen and (min-width: 750px) {
      width: 65%;
      margin-top: 1rem;
      line-height: 1.4em;
      font-size: 24px;
    }
  }
  button {
    background-color: white;
    border: 0.2rem solid $mainblue;
    color: $mainblue;
    border-radius: 3rem;
    height: 3.4rem;
    width: 8rem;
    margin-bottom: 1rem;
    font-size: 18px;

    @media screen and (max-width: 361px) {
      height: 2.5rem;
      margin-bottom: 2rem;
      font-size: 16px;
      border: 2px solid $mainblue;
    }
    @media screen and (min-width: 750px) {
      margin-top: 1rem;
    }
  }
}
.grid-container-section3 {
  @extend .grid-container-section2;
  background-image: none;
  height: 92vh;
  width: 100%;
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;

  @media screen and (min-width: 850px) {
    grid-template-rows: 80% 20%;
  }

  .grid-section3 {
    @extend .grid-section2;
    display: none;
    height: 100%;
    width: 100vw;
  }
  .s3-item1 {
    display: flex;
    justify-content: initial;
    flex-direction: column;

    border: 1.5rem solid $lightblue;
    background-color: $bgthinblue;
    width: 100vw;
    @media screen and (min-width: 750px) {
      background-image: url('/images/second_bg.svg');
      background-size: cover;
    }
    h2 {
      color: $pink;
      font-size: 44px;
      padding: 0.5rem 0rem 2rem;

      @media screen and (max-width: 376px) {
        margin-top: 2rem;

        font-size: 28px;
        padding-bottom: 0rem;
        margin-bottom: 2rem;
      }

      @media screen and (min-width: 750px) {
        font-size: 58px;
        margin-top: 2rem;
        align-self: flex-start;
        margin-left: 2rem;
        width: auto;
      }
    }
    b {
      color: $pink;
    }
    p {
      margin-top: -1rem;
      width: 100%;
      // yes
      @media screen and (max-width: 376px) {
      }
      @media screen and (min-width: 750px) {
        width: 45%;
        font-size: 24px;
        line-height: 29px;
        align-self: flex-start;
        margin-left: 2rem;
      }
    }
  }
  .s3-item2 {
    display: flex;
    flex-direction: column;
    background-color: $mainblue;
    color: white;
    justify-content: space-between;
    width: 100vw;
    height: 100%;

    h2 {
      align-self: flex-start;

      padding-left: 1rem;
      margin: 0rem;

      @media (min-width: 319px) and (max-width: 325px) {
        font-size: 18px;
        margin-top: 0.5rem;
        padding-bottom: 1rem;
      }

      @media screen and (min-width: 750px) {
        position: absolute;
        align-self: flex-start;
        margin-top: 3rem;
        font-size: 2em;
        font-weight: 600;
        padding: 0;
        width: auto;
      }
    }
    p {
      margin-top: 1;
      width: 90%;
      padding: 0;
      @media (min-width: 319px) and (max-width: 325px) {
        font-size: 14px;
        padding-top: -4rem;
      }
      @media screen and (min-width: 750px) {
        font-size: 16px;
        line-height: 22px;
        position: absolute;
        margin-top: 6.5rem;
        width: 33%;
        align-self: flex-start;
      }
    }

    .input-email {
      margin-top: 0.3rem;
      height: 3rem;
      width: 95%;
      border: none;
      box-shadow: 2px 5px 20px -4px rgba(0, 0, 0, 0.62);
      -webkit-box-shadow: 2px 5px 20px -4px rgba(0, 0, 0, 0.62);
      -moz-box-shadow: 2px 5px 20px -4px rgba(0, 0, 0, 0.62);
      text-indent: 1rem;
      @media (min-width: 319px) and (max-width: 325px) {
        height: 2rem;
        font-size: 14px;
      }
      @media screen and (min-width: 750px) {
        position: absolute;
        margin-top: 3rem;
        width: 40%;

        left: 38%;
      }
    }

    .email-label {
      margin-left: 1rem;
      @media screen and (min-width: 750px) {
        position: absolute;

        align-self: center;
        left: 38%;
      }
    }
    .label-consent-box {
      display: flex;

      margin-top: 1rem;
      @media (min-width: 319px) and (max-width: 325px) {
        padding-top: -2rem;
        font-size: 14px;
      }
      @media screen and (min-width: 750px) {
        position: absolute;
        align-self: flex-start;
        margin-top: 6rem;
        left: 38%;
        width: 50%;
      }
      label {
        @media screen and (min-width: 750px) {
          align-self: flex-start;
          left: 38%;
          margin-top: 1rem;
        }
      }
    }
    .consent-checkbox {
      height: 20px;
      width: 20px;
      @media screen and (min-width: 750px) {
        margin-top: 1rem;
      }
    }

    button {
      width: 10rem;
      margin-bottom: 1rem;
      margin-left: 50%;
      @media (min-width: 319px) and (max-width: 325px) {
        margin-top: 0.3rem;
      }
      @media screen and (min-width: 750px) {
        position: absolute;
        margin-top: 3rem;
        align-self: flex-end;
        margin-right: 4rem;
        height: 3rem;
        width: 10rem;
        font-size: 16px;
        margin-left: -2rem;
      }
    }
  }
}
