@import 'variables';
@font-face {
  font-family: 'Brown';
  src: url('/fonts/Brown-Regular.woff');
  src: url('/fonts/Brown-Regular.woff2');
}
* {
  box-sizing: border-box;
  font-family: 'Brown', 'Helvetica';
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin: 0;
}

.oceana-welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  width: 100%;

  svg {
    width: 85%;
    margin-bottom: 12rem;
  }
  h2 {
    color: $mainblue;
    margin-bottom: -1.4rem;
  }
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(4 auto);
  height: 100vh;
  width: 100%;

  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0rem 1rem;
  }
  .item1 {
    justify-content: space-between;
    height: 4rem;
    width: 100vw;
  }
  .item2 {
    position: relative;
    height: 35rem;
    width: 100vw;
    padding: 0;
    margin: 0;
    border: none;
    background-image: url('/images/wave_s2.svg');
    background-repeat: no-repeat;
    background-size: cover;

    svg {
      object-fit: cover;
    }
  }
  .page-2-content-container {
    display: flex;
    align-items: center;
    position: absolute;
    height: 32rem;
    width: calc(100vw - 2rem);
    background-color: #e3f5ff;
    border: none;
    flex-direction: column;

    svg {
      margin-top: 1rem;
    }
    h2 {
      color: $mainblue;
      width: 20rem;
      text-align: center;
      font-weight: bold;
      font-size: 36px;
    }
    h4 {
      margin: -0.5rem 0rem 0rem 1rem;

      font-weight: bold;
      width: 20rem;
      font-size: 18px;
      color: $pink;
    }
    p {
      margin-left: 1rem;
      line-height: 133.8%;
      // not using margin-top: -0rem; gives a different outcome, try to find the source
      margin-top: -0rem;
      width: 20rem;
      font-size: 18px;
      color: $mainblue;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2rem;
      width: 10rem;
      height: 3rem;
      background-color: $mainblue;
      color: white;
      font-size: 16px;
      margin-top: 2rem;
      border: none;
    }
  }
  .item4 {
    height: auto;
  }
}

// .button {
//   &:visited { }
//   &:hover { }
//   &:active { }
// }

// * {
//   box-sizing: border-box;
//   margin: 10rem;
//   padding: 0;
// }
// body {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   height: auto;
//   width: 100vw;
// }
// .container-section1 {
//   display: flex;
//   flex-direction: column;
//   height: 100vh;
//   justify-content: center;
//   align-items: center;

//   width: 100%;
//   border: 1px solid black;
// }

// .container-section1 svg {
//   height: 70%;
//   width: 70%;
// }
// .grid-container-section2 {
//   display: grid;
//   height: 100vh;
//   width: 100%;
//   border: 1px solid black;
//   justify-content: center;
// }
// .grid-container-section2 .grid-item1 {
//   display: flex;
//   justify-content: space-between;
//   height: 3rem;

//   margin: 1rem;
// }
// .calendar-svg {
// }

// .liseberg-logo-svg {
//   margin-left: 25%;
// }

// .search-svg {
// }

// .cart-svg {
// }
// .grid-container-section2 .grid-item2 {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .grid-container-section2 .wave {
//   position: relative;
//   height: 100%;
//   width: 100%;
//   z-index: -1;
// }
// .grid-container-section2 .grid-item3 {
//   display: flex;
//   justify-content: center;
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   border: 1rem solid white;
// }
// .grid-item3-bg {
//   align-self: center;
//   margin-top: 8rem;
//   position: absolute;
//   height: 70%;
//   width: 85%;
//   border: 1px solid black;
//   display: grid;
// }
// .ses-snart {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 20%;
// }
